@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #a3481b;
  --defaut-radius: 8px;
  --have-tag: #44914480;
  --dnt-have-tag: #d73c6380;
  --abandonned-tag: #81757580;
  --borrowed-tag: #bcbc2b80;
  --lent-tag: #be862c80;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: #285fd7;
  text-decoration: none;
  border-radius: var(--defaut-radius);
}

a:hover {
  text-decoration: underline;
}

body {
  padding: 0;
  margin: 0;
  background-color: color-mix(in srgb, var(--primary-color) 75%, white);
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 8px 16px;
  background-color: color-mix(in srgb, var(--primary-color) 80%, black);
  align-items: center;
}

header>img {
  height: 48px;
}

header>a {
  padding: 8px;
  color: #000000;
  font-size: 16px;
  height: max-content;
  background-color: color-mix(in srgb, var(--primary-color) 40%, white);
  transition: background-color 400ms;
}

header>a:hover {
  text-decoration: none;
  background-color: color-mix(in srgb, var(--primary-color) 56%, white);
}

#especialzona {
  padding: 8px 16px;
}

#especialzona>h1 {
  margin-top: 16px;
  text-align: center;
}

section {
  padding: 0 16px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 4px #0000003d;
}

.filters {
  display: flex;
  margin: 16px;
  padding: 8px;
  gap: 12px;
}

.filters label {
  display: block;
  font-size: 12px;
}

#search {
  min-width: 320px;
  border-radius: var(--defaut-radius);
  border: 1px solid black;
  height: 24px;
}

#order {
  border-radius: var(--defaut-radius);
  height: 24px;
  min-width: 200px;
  border: 1px solid black;
}

.section-title {
  padding: 8px 0px;
  text-align: center;
  font-size: 56px;
}

.section-card {
  margin: 8px 0px;
  padding: 0 16px 16px;
}

section.section-card>div {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 16px;
}

.book-card {
  display: flex;
  background-color: #dddddd;
  padding: 16px;
  border-radius: var(--defaut-radius);
  max-width: 580px;
  min-width: 580px;
}

.book-card img {
  width: 160px;
  border-radius: var(--defaut-radius);
}

.book-card>div {
  padding: 16px;
}

.book-card h3 {
  color: #292929;
}

.book-card span {
  display: block;
  margin: 4px 0 4px;
  padding: 4px 0 4px;
}

.book-card .autor {
  color: #5d5d5d;
  font-weight: bold;
  font-size: 0.9em;
}

.book-card .book-extra {
  font-size: 0.85em;
}

.book-card .tags {
  display: flex;
  gap: 8px;
}

.book-card .tags>span {
  padding: 2px 4px;
  border-radius: 6px;
  background-color: #0000ff44;
}

.book-card .tags .have {
  background-color: var(--have-tag);
}

.book-card .tags .dnt-have {
  background-color: var(--dnt-have-tag);
}

.book-card .tags .abandonned {
  background-color: var(--abandonned-tag);
}

.book-card .tags .borrowed {
  background-color: var(--borrowed-tag);
}

.book-card .tags .lent {
  background-color: var(--lent-tag);
}