@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #a3481b;
  --defaut-radius: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: #285fd7;
  text-decoration: none;
  border-radius: var(--defaut-radius);
}

a:hover {
  text-decoration: underline;
}

body {
  padding: 0;
  margin: 0;
  background-color: color-mix(in srgb, var(--primary-color) 75%, white);
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 8px 16px;
  background-color: color-mix(in srgb, var(--primary-color) 80%, black);
  align-items: center;
}

header>img {
  height: 48px;
}

header>a {
  padding: 8px;
  color: #000000;
  font-size: 16px;
  height: max-content;
  background-color: color-mix(in srgb, var(--primary-color) 40%, white);
  transition: background-color 400ms;
}

header>a:hover {
  text-decoration: none;
  background-color: color-mix(in srgb, var(--primary-color) 56%, white);
}

#especialzona {
  padding: 8px 16px;
}

#especialzona>h1 {
  margin-top: 16px;
  text-align: center;
}

section {
  padding: 0 16px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 4px #0000003d;
}

.filters {
  display: flex;
  margin: 16px;
  padding: 8px;
  gap: 12px;
}

.filters label {
  display: block;
  font-size: 12px;
}

#search {
  min-width: 320px;
  border-radius: var(--defaut-radius);
  border: 1px solid black;
  height: 24px;
}

#order {
  border-radius: var(--defaut-radius);
  height: 24px;
  min-width: 200px;
  border: 1px solid black;
}

.section-title {
  padding: 8px 0px;
  text-align: center;
  font-size: 56px;
}

.section-card {
  margin: 8px 0px;
}

section.section-card>div {
  display: flex;
  justify-content: space-evenly;
}

.book-card {
  background-color: #dddddd;
  padding: 8px;
  border-radius: var(--defaut-radius);
  max-width: 320px;
}

.book-card img {
  width: 160px;
  border-radius: var(--defaut-radius);
}